body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
    height: 40px;
    font-size: 1.3rem;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #4CAF50;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}

a {
  color:#4CAF50;
  font-size: 1.5rem;
}

#input-btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 2px;
}

#input-delete {
  background-color: #ffffff; 
  border: 0.5px solid #4CAF50;
  color: #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 2px;
  border-color: #4caf50;
  box-sizing: border-box;
}

#save-tab-btn {
  background-color: #4CAF50; 
  border: none;
  color: #fbfffb;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 2px;
  border-color: #4caf50;
  box-sizing: border-box;
}


